/* ==========================================================================
   03. FONTS
   ========================================================================== */

@font-face {
    font-family: 'PlayfairDisplay-Bold';
    src: url('../fonts/PlayfairDisplay/PlayfairDisplay-Bold.woff2') format('woff2'),
         url('../fonts/PlayfairDisplay/PlayfairDisplay-Bold.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Julius Sans One';
    src: url('../fonts/Julius_Sans_One/JuliusSansOne-Regular.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'OpenSans-Bold';
    src: url('../fonts/Open_Sans/OpenSansCondensed-Bold.woff2') format('woff2'),
         url('../fonts/Open_Sans/OpenSansCondensed-Bold.woff') format('woff');
    font-display: swap;
}
